:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--mainThemeColor: #a600d4;
	--backgroundThemeColor: #23002c;
}
#root {
	width: 100%;
	/* margin: 0 auto; */
	/* padding: 2rem; */
	text-align: center;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 100%;
	min-height: 100vh;
}

/* headers */
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.trackControlButton {
	color: var(--mainThemeColor);
	border-radius: 0px;
	border: 1px solid transparent;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--backgroundThemeColor);
	cursor: pointer;
	transition: border-color 0.15s;
}
.trackControlButton:hover {
	border-color: var(--mainThemeColor);
}

.timeline {
	-webkit-appearance: none;
	width: 90%;
	height: 15px;
	border-radius: 5px;  
	background: var(--backgroundThemeColor);
	outline: none;
	-webkit-transition: .2s;
}

.timeline::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: var(--mainThemeColor);
	cursor: pointer;
}

.timeline::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--mainThemeColor);
	cursor: pointer;
}

.albumCover {
	height: 200px;
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */